<!DOCTYPE html>
<html>
  <head>
    <title>Austin's Joke</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link rel="stylesheet" href="http://materializecss.com/css/ghpages-materialize.css">
  </head>

  <body>
<div class="section" id="index-banner">
<div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Welcome to Austin's Jokes!</h1>
        <h4 class ="light red-text text-lighten-4 center-on-small-only">Where they are all about Chuck Norris!</h4>
      </div>
    </div>
  </div>
</div>
 <div class="container">
  <div class="row">

    <div class="section col s12 m9 l10">
      <h2 class="col s12 header">Todays Joke!</h2>
        <p class="caption col s12">{{ joke }}</p>
</div>
</div>
</div>
 </body>
</html>
